<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revia.lastdance.post.dao.PostMapper">

    <resultMap id="postResultMap" type="com.revia.lastdance.post.vo.PostVO">
        <id property="postId" column="post_id"/>
        <result property="userId" column="user_id"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContent" column="post_content"/>
        <result property="isNotice" column="is_notice"/>
        <result property="createdDate" column="created_date"/>
        <result property="createdId" column="created_id"/>
        <result property="updatedDate" column="updated_date"/>
        <result property="updatedId" column="updated_id"/>
    </resultMap>

    <resultMap id="fileNestedResultMap" type="com.revia.lastdance.post.vo.FileVO">
        <id property="fileId" column="file_id"/>
        <result property="postId" column="post_id"/>
        <result property="uploadName" column="upload_name"/>
        <result property="fileType" column="file_type"/>
        <result property="imgUrl" column="img_url" jdbcType="BLOB"/>
    </resultMap>

    <resultMap id="postWithFilesResultMap" type="com.revia.lastdance.post.vo.PostVO" extends="postResultMap">
        <collection property="files" ofType="com.revia.lastdance.post.vo.FileVO" resultMap="fileNestedResultMap"/>
    </resultMap>

    <select id="selectAllPostsPaged" resultMap="postWithFilesResultMap">
        SELECT
            p.post_id,
            p.user_id,
            p.post_title,
            p.post_content,
            p.is_notice,
            p.created_date,
            p.created_id,
            p.updated_date,
            p.updated_id,
            f.file_id,
            f.upload_name,
            f.file_type,
            f.img_url
        FROM tb_post p
        LEFT JOIN tb_file f ON p.post_id = f.post_id
        ORDER BY p.created_date DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAllPosts" resultType="int">
        SELECT COUNT(*) FROM tb_post
    </select>

    <select id="selectPostById" resultMap="postWithFilesResultMap">
        SELECT
            p.post_id,
            p.user_id,
            p.post_title,
            p.post_content,
            p.is_notice,
            p.created_date,
            p.created_id,
            p.updated_date,
            p.updated_id,
            f.file_id,
            f.upload_name,
            f.file_type,
            f.img_url
        FROM tb_post p
        LEFT JOIN tb_file f ON p.post_id = f.post_id
        WHERE p.post_id = #{postId}
    </select>

    <insert id="insertPost" parameterType="com.revia.lastdance.post.vo.PostVO" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO tb_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            post_title,
            post_content,
            is_notice,
            created_date,
            user_id,
            <if test="createdId != null">created_id,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{postTitle},
            #{postContent},
            #{isNotice},
            CURRENT_TIMESTAMP,
            #{userId},
            <if test="createdId != null">#{createdId},</if>
        </trim>
    </insert>

    <update id="updatePost" parameterType="com.revia.lastdance.post.vo.PostVO">
        UPDATE tb_post
        SET
            post_title = #{postTitle},
            post_content = #{postContent},
            is_notice = #{isNotice},
            updated_date = CURRENT_TIMESTAMP,
            user_id = #{userId},
            <if test="createdId != null">created_id = #{createdId},</if>
            updated_id = #{updatedId}
        WHERE post_id = #{postId}
    </update>

    <delete id="deletePost">
        DELETE FROM tb_post WHERE post_id = #{postId}
    </delete>

</mapper>
