<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revia.lastdance.signup.dao.SignupMapper">

    <insert id="insertUser" parameterType="com.revia.lastdance.signup.vo.UserVO">
        INSERT INTO tb_user (
            user_id,
            user_name,
            user_nickname,
            user_email,
            user_pwd,
            <if test="userImgUrl != null">user_img_url,</if>
            created_date,
            created_id,
            updated_date,
            updated_id
        ) VALUES (
            #{userId},
            #{userName},
            #{userNickname},
            #{userEmail},
            #{userPwd},
            <if test="userImgUrl != null">#{userImgUrl},</if>
            #{createdDate},
            #{createdId},
            #{updatedDate},
            #{updatedId}
        )
    </insert>

    <select id="countByUserEmail" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM tb_user WHERE user_email = #{userEmail}
    </select>

    <select id="countByUserNickname" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM tb_user WHERE user_nickname = #{userNickname}
    </select>

    <select id="countByUserId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM tb_user WHERE user_id = #{userId}
    </select>

    <resultMap id="emailVerificationResultMap" type="com.revia.lastdance.signup.vo.EmailVerificationVO">
        <id property="userEmail" column="user_email"/>
        <result property="emailCode" column="email_code"/>
        <result property="verifiTime" column="verifi_time"/>
    </resultMap>

    <insert id="insertEmailVerificationCode" parameterType="com.revia.lastdance.signup.vo.EmailVerificationVO" flushCache="true">
        INSERT INTO tb_email_verification (
            user_email,
            email_code,
            verifi_time
        ) VALUES (
            #{userEmail},
            #{emailCode},
            #{verifiTime}
        )
    </insert>

    <select id="getEmailVerificationCode" parameterType="string" resultMap="emailVerificationResultMap" useCache="false">
        SELECT
            user_email,
            email_code,
            verifi_time
        FROM
            tb_email_verification
        WHERE
            user_email = #{userEmail}
    </select>

    <delete id="deleteEmailVerificationCodeByUserEmail" parameterType="string">
        DELETE FROM
            tb_email_verification
        WHERE
            user_email = #{userEmail}
    </delete>

</mapper>
