<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revia.lastdance.signup.dao.SignupMapper">

    <insert id="insertUser" parameterType="com.revia.lastdance.signup.vo.UserVO">
        INSERT INTO tb_user (
            user_id,
            user_nickname,
            user_email,
            user_pwd,
            role_id,
            <if test="userImgUrl != null">user_img_url,</if>
            created_date,
            created_id,
            updated_date,
            updated_id
        ) VALUES (
            #{userId},
            #{userNickname},
            #{userEmail},
            #{userPwd},
            #{roleId},
            <if test="userImgUrl != null">#{userImgUrl},</if>
            #{createdDate},
            #{createdId},
            #{updatedDate},
            #{updatedId}
        )
    </insert>

    <select id="countByUserEmail" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM tb_user WHERE user_email = #{userEmail}
    </select>

    <select id="countByUserNickname" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM tb_user WHERE user_nickname = #{userNickname}
    </select>

    <select id="countByUserId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM tb_user WHERE user_id = #{userId}
    </select>

</mapper>
