<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revia.lastdance.flask.dao.FlaskImgMapper">
    <insert id="insertFlaskImg" parameterType="com.revia.lastdance.flask.vo.FlaskImgVO">
        INSERT INTO tb_flask_img (flask_img_url, flask_img_name)
        VALUES (#{flaskImgUrl}, #{flaskImgName})
    </insert>
</mapper>
