<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revia.lastdance.login.dao.LoginMapper">

    <select id="findUserByEmail" parameterType="string" resultType="com.revia.lastdance.signup.vo.UserVO">
        SELECT
            tu.user_id,
            tu.user_name,
            tu.user_nickname,
            tu.user_email,
            tu.user_pwd,
            tu.user_img_url,
            tu.role_id,
            tr.role_type,
            tu.created_date,
            tu.created_id,
            tu.updated_date,
            tu.updated_id
        FROM
            tb_user tu
        LEFT JOIN
            tb_role tr ON tu.role_id = tr.role_id
        WHERE
            tu.user_email = #{userEmail}
    </select>

    <select id="findUserByEmailOrUserId" parameterType="string" resultType="com.revia.lastdance.signup.vo.UserVO">
        SELECT
            tu.user_id,
            tu.user_name,
            tu.user_nickname,
            tu.user_email,
            tu.user_pwd,
            tu.user_img_url,
            tu.role_id,
            tr.role_type,
            tu.created_date,
            tu.created_id,
            tu.updated_date,
            tu.updated_id
        FROM
            tb_user tu
        LEFT JOIN
            tb_role tr ON tu.role_id = tr.role_id
        WHERE
            tu.user_email = #{identifier} OR tu.user_id = #{identifier}
    </select>

    <select id="findUserByUserId" parameterType="string" resultType="com.revia.lastdance.signup.vo.UserVO">
        SELECT
            tu.user_id,
            tu.user_name,
            tu.user_nickname,
            tu.user_email,
            tu.user_pwd,
            tu.user_img_url,
            tu.role_id,
            tr.role_type,
            tu.created_date,
            tu.created_id,
            tu.updated_date,
            tu.updated_id
        FROM
            tb_user tu
        LEFT JOIN
            tb_role tr ON tu.role_id = tr.role_id
        WHERE
            tu.user_id = #{userId}
    </select>

</mapper>
