.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #313131; /* 배경색 변경 */
  z-index: 1000;
  padding: 20px 5%;
  box-sizing: border-box;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  color: #fff; /* 기본 글자 색 지정 */
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  color: #fff; /* 글자 색 변경 */
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 15px 10px;
  }

  .footer-bottom {
    font-size: 0.75rem;
  }
}
