<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revia.lastdance.email.dao.EmailVerificationMapper">

    <resultMap id="emailVerificationResultMap" type="com.revia.lastdance.email.vo.EmailVerificationVO">
        <id property="userEmail" column="user_email"/>
        <result property="emailCode" column="email_code"/>
        <result property="verifiTime" column="verifi_time"/>
    </resultMap>

    <insert id="insertEmailVerificationCode" parameterType="com.revia.lastdance.email.vo.EmailVerificationVO">
        INSERT INTO tb_email_verification (
            user_email,
            email_code,
            verifi_time
        ) VALUES (
            #{userEmail},
            #{emailCode},
            #{verifiTime}
        )
    </insert>

    <select id="getEmailVerificationCode" parameterType="string" resultMap="emailVerificationResultMap">
        SELECT
            user_email,
            email_code,
            verifi_time
        FROM
            tb_email_verification
        WHERE
            user_email = #{userEmail}
        ORDER BY verifi_time DESC
        LIMIT 1
    </select>

    <delete id="deleteEmailVerificationCodeByUserEmail" parameterType="string">
        DELETE FROM
            tb_email_verification
        WHERE
            user_email = #{userEmail}
    </delete>

</mapper>
