<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revia.lastdance.comment.dao.CommentDAO">

    <resultMap id="CommentVOResultMap" type="com.revia.lastdance.comment.vo.CommentVO">
        <id property="commentId" column="comment_id"/>
        <result property="postId" column="post_id"/>
        <result property="userId" column="user_id"/>
        <result property="comment" column="comment"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
        <result property="userNickname" column="user_nickname"/>
    </resultMap>

    <insert id="insertComment" parameterType="com.revia.lastdance.comment.vo.CommentVO">
        INSERT INTO tb_comment (post_id, user_id, comment, created_date, created_id, updated_date, updated_id)
        VALUES (#{postId}, #{userId}, #{comment}, NOW(), #{userId}, NOW(), #{userId})
    </insert>

    <select id="selectCommentsByPostId" parameterType="int" resultMap="CommentVOResultMap">
        SELECT
            c.comment_id,
            c.post_id,
            c.user_id,
            c.comment,
            c.created_date,
            c.updated_date,
            u.user_nickname
        FROM tb_comment c
        JOIN tb_user u ON c.user_id = u.user_id
        WHERE c.post_id = #{postId}
        ORDER BY c.created_date ASC
    </select>

    <select id="selectCommentById" parameterType="int" resultMap="CommentVOResultMap">
        SELECT
            comment_id,
            post_id,
            user_id,
            comment,
            created_date,
            updated_date
        FROM tb_comment
        WHERE comment_id = #{commentId}
    </select>

    <update id="updateComment" parameterType="com.revia.lastdance.comment.vo.CommentVO">
        UPDATE tb_comment
        SET
            comment = #{comment},
            updated_date = NOW(),
            updated_id = #{userId}
        WHERE comment_id = #{commentId}
    </update>

    <delete id="deleteComment" parameterType="int">
        DELETE FROM tb_comment
        WHERE comment_id = #{commentId}
    </delete>

</mapper>