body {
  margin: 0;
  font-family: 'Gowun Dodum', sans-serif; /* intro.css의 폰트와 일치 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7A5230; /* intro.css의 텍스트 색상과 일치 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}